@import "_global";

html {
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

@keyframes main-before {
  to {
    transform: translate(-100%, -75%);
    opacity: 0.7;
  }
}

@keyframes main-after {
  to {
    transform: translate(0%, -25%);
    opacity: 0.7;
  }
}

main {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-left: 0.3rem solid #ff4343;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    opacity: 0;
    filter: blur(10rem);
    z-index: -1;
  }

  &::before {
    background-color: #ffba24;
    animation: main-before 1s forwards;
  }

  &::after {
    background-color: #ff4343;
    animation: main-after 1s forwards;
  }

  h2 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);
    text-align: center;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 12.5rem;
    gap: 5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      height: 100%;
      color: #fff;
      background-color: rgb(0, 185, 0);
      border: 0.2rem solid transparent;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &:hover {
        border-color: rgb(0, 185, 0);
        color: rgb(0, 185, 0);
        background-color: transparent;
      }
    }
  }

  #timer {
    padding: 1rem;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 4rem 2rem;

    h2 {
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
    }

    .container {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}
