<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head", { cssFiles: ["global.css", "auth.css"],
  jsFiles}) %>
  <body>
    <main>
      <div id="msg"></div>
      <form>
        <div class="header"></div>
        <h2><% if (login) { %> Login <% } else { %> Register <% } %></h2>
        <% if (!login) { %>
        <div class="input-container">
          <input type="text" name="name" id="name" placeholder=" " required />
          <label for="name">Username</label>
        </div>
        <% } %>
        <div class="input-container">
          <input
            type="email"
            name="email"
            id="email"
            placeholder=" "
            required
          />
          <label for="email">Email</label>
        </div>
        <div class="input-container">
          <input
            type="password"
            name="passwd"
            id="passwd"
            placeholder=" "
            required
          />
          <label for="passwd">Password</label>
        </div>
        <button type="submit">
          Submit
          <div class="left"></div>
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
        </button>
        <% if (login) { %>
        <p>Forgot password? <a href="recovery-passwd">Recovery password</a></p>
        <% } %>
      </form>
      <% if (login) { %>
      <a id="handleAuthPage" href="register">Register</a>
      <% } else { %>
      <a id="handleAuthPage" href="login">Login</a>
      <% } %>
    </main>
  </body>
</html>
