<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head", { cssFiles: ["global.css", "auth.css"],
  jsFiles}) %>
  <body>
    <main>
      <div id="msg"></div>
      <form>
        <div class="header"></div>
        <h2>
          <% if (request) { %> Recovery Password <% } else { %> Change Password
          <% } %>
        </h2>
        <% if (!request) { %>
        <div class="input-container">
          <input
            type="password"
            name="passwd"
            id="passwd"
            placeholder=" "
            required
          />
          <label for="passwd">Password</label>
        </div>
        <% } else { %>
        <div class="input-container">
          <input
            type="email"
            name="email"
            id="email"
            placeholder=" "
            required
          />
          <label for="email">Email</label>
        </div>
        <% } %>
        <button type="submit">
          Submit
          <div class="left"></div>
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
        </button>
      </form>
    </main>
  </body>
</html>
