<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head", { jsFiles: ["verifyEmail.mjs"] }) %>
  <body>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/verifyEmail.css" />
    <main>
      <h2>A verification link has been sent to your email</h2>
      <div class="container">
        <div id="timer"></div>
        <a href="/login" id="check">Verified</a>
      </div>
    </main>
  </body>
</html>
