:root {
  --black: #222;
  --gray: #666;
  --light-gray: #dfdfdf;
  --page-padding: 5rem;
}

footer .footer-search-container h2,
main section h2 {
  font-weight: 400;
  color: var(--black);
}

main section h2,
main section ul li {
  color: var(--black);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

footer .main-container .site-profile img {
  height: 3.5rem;
  filter: drop-shadow(0 0 0.4rem #00000015);
}

main,
main section {
  flex-direction: column;
}

main,
main .sales-container,
main section {
  width: 100%;
  display: flex;
}

main {
  padding: 2.5rem 0;
  gap: 3rem;
}

main .sales-container {
  padding: 5rem 10rem;
  border-radius: 2rem;
  background-image: linear-gradient(110deg, #ff4343 30%, #fc6030, #ffba24 100%);
  height: 30rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .sales-container div,
main .sales-container picture {
  z-index: 3;
}

main .sales-container::after,
main .sales-container::before {
  content: "";
  background-color: #ffffff15;
  position: absolute;
  width: 10rem;
  height: 150%;
  transform: rotate(-20deg);
  animation: 0.75s ease-out intro-reflex;
}

main .sales-container::before {
  left: 25%;
}

main .sales-container::after {
  left: 50%;
}

@keyframes intro-reflex {
  from {
    opacity: 0;
  }
}

main .sales-container .offer {
  height: 100%;
}

main .sales-container .offer h2,
main .sales-container .offer h3 {
  color: #fff;
  font-weight: 300;
}

main .sales-container .offer h2 {
  font-size: 3rem;
}

main .sales-container .offer h3 {
  font-size: 5rem;
  animation: 0.5s ease-out intro-off;
}

@keyframes intro-off {
  from {
    transform: translateX(-30rem);
  }
}

@keyframes sales-image {
  from {
    transform: translateX(30rem);
  }
}

main .sales-container .offer button {
  background-color: #000;
  border: 0.2rem solid transparent;
  outline: 0;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: filter 0.3s;
}

main .sales-container .offer button:hover {
  filter: invert(1);
  box-shadow: 0 0 1.5rem #ffffff25;
}

main .sales-container .offer button img {
  filter: invert(1);
  height: 2rem;
}

main .sales-container img {
  height: 25rem;
  filter: drop-shadow(0 0 0.75rem #00000030);
}

main .sales-container picture {
  animation: 1s ease-out sales-image;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main section {
  gap: 2rem;
  overflow: hidden;
}

main section .control-container {
  display: flex;
}

main section .scroll-container {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
}

main section .scroll-container button {
  padding: 0 1.5rem;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  filter: invert(0.2);
  justify-content: center;
  outline: 0rem solid #00000030;
}

main section .scroll-container button:hover {
  background-color: #00000030;
}

main section .scroll-container button:active {
  animation: outline 0.25s ease-out;
}

@keyframes outline {
  to {
    outline: 10rem solid #00000000;
  }
}

main section .scroll-container button img {
  width: 2rem;
}

main section h2 {
  font-size: 2rem;
  margin-right: auto;
}

main section ul {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 1%,
    rgba(0, 0, 0, 1) 99%,
    rgba(0, 0, 0, 0)
  );
  padding: 0 1%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

main section ul::-webkit-scrollbar,
main section ul::-webkit-scrollbar-thumb {
  background-color: transparent;
}

main section ul li {
  list-style: none;
  display: flex;
  width: 20rem;
  flex-direction: column;
  position: relative;
  scroll-snap-align: center;
}

main #recommended-products ul li {
  animation: 0.5s ease-out forwards intro-li;
  animation-delay: calc(0.15s * var(--i));
  transform: translateY(100%);
}

@keyframes intro-li {
  to {
    transform: translateY(0);
  }
}

main section li picture {
  background-color: var(--light-gray);
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

main section li img {
  width: 17.5rem;
  filter: drop-shadow(0 0 1rem #00000040);
}

main section li .info-container {
  padding: 1rem 0;
}

main section li .info-container h3 {
  font-size: 1.4rem;
}

main section li .info-container h3 ~ p {
  font-size: 1.1rem;
}

main section li .info-container .price-container {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 1rem 0;
}

main section li .info-container .price-container #price {
  font-weight: 700;
}

main section li .favorite {
  width: 2.5rem;
  aspect-ratio: 1;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
  box-shadow: none;
  transition: box-shadow 0.1s;
}

main section li .favorite:hover {
  box-shadow: 0 0 0.5rem #00000075;
}

main section li .favorite img {
  width: 1.5rem;
}

main section li #buy {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding-left: 0.15rem;
  transition: 0.3s;
}

main section li #buy:hover {
  filter: invert(1);
  background-color: #444;
  outline: #000 solid 1rem;
}

footer {
  height: 30rem;
}

footer .benefits-container {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  justify-content: space-between;
}

footer .benefits-container img,
footer .main-container .payment-methods img {
  width: 4rem;
}

footer .benefits-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  gap: 1rem;
}

footer .main-container .contact,
footer .main-container .site-profile p {
  font-size: 1.5rem;
  color: var(--gray);
}

footer .footer-search-container {
  padding: 2.5rem 0;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-search-container h2 {
  font-size: 2.2rem;
}

footer .main-container {
  padding: 2.5rem 0;
  display: flex;
  height: 15rem;
}

footer .main-container div {
  flex: 1;
  height: 100%;
}

footer .main-container .site-profile img {
  width: 6rem;
}

footer .main-container .payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .main-container .contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

footer .main-container .contact .info-number {
  font-size: 1.2rem;
  color: var(--gray);
}

footer .main-container .contact .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .main-container .contact .links img {
  width: 3.5rem;
  transition: filter 0.2s;
}

footer .main-container .contact .links img:hover {
  filter: invert(0.25);
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem;
  }

  main {
    margin-top: 5rem;
  }

  main .sales-container {
    padding: 5rem 2rem;
  }

  main .sales-container::before {
    left: 10%;
  }

  main .sales-container::after {
    left: 60%;
  }

  main .sales-container .offer button,
  main .sales-container .offer h2,
  main .sales-container .offer h3 {
    width: max-content;
  }

  footer {
    height: max-content;
    padding-bottom: 10rem;
  }

  footer .benefits-container {
    flex-direction: column;
    gap: 3rem;
    align-items: start;
    padding-left: 2rem;
    padding-block: 0;
    margin-block: 2.5rem;
    border-left: 0.2rem solid #000;
  }

  footer .benefits-container .container {
    font-size: 2rem;
  }

  footer .footer-search-container,
  footer .main-container {
    flex-direction: column;
    gap: 2rem;
  }

  footer .footer-search-container .search-container {
    max-width: calc(100% - 4rem);
    align-items: center;
    justify-content: center;
  }

  footer .footer-search-container .search-container input {
    width: calc(100% - 4rem);
  }

  footer .main-container .site-profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  footer .main-container .payment-methods {
    justify-content: start;
  }

  footer .main-container .contact {
    align-items: start;
  }

  footer .main-container .contact .links {
    margin-top: 1rem;
  }
}
