<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/window-logo.webp" type="image/webp" />
  <title>Develop Store | E-Commerce | Miguel Zacca</title>
  <% if (typeof cssFiles !== "undefined") { %>
    <% for (const file of cssFiles) { %>
      <link rel="stylesheet" href="/styles/<%= file %>" />
    <% } %>
  <% } %>
  <% if (typeof jsFiles !== "undefined") { %> 
    <% for (const file of jsFiles) { %>
      <script src="/script/<%= file %>" type="module" defer></script>
    <% } %>
  <% } %>
</head>
