<header>
  <div class="high-container">
    <a href="/" class="refresh-link">
      <img src="/images/logo.webp" class="logo" alt="Logo" />
    </a>
    <div class="search-container">
      <input
        type="search"
        name="query"
        id="search-input-hed"
        placeholder="Search product"
      />
      <button id="search-button">
        <img src="/images/search-icon.png" alt="Search icon" />
      </button>
    </div>
    <nav>
      <a href="./account" class="account-link">
        <img src="/images/account-icon.png" alt="Account icon" />
        Account
      </a>
      <a href="./favorites" class="favorite-link">
        <img src="/images/favorite-icon.png" alt="Favorite icon" />
      </a>
      <a href="./shopping" class="shopping-link">
        <img src="/images/shopping-icon.png" alt="Shopping icon" />
      </a>
    </nav>
  </div>
  <div class="low-container">
    <details>
      <summary>Categories</summary>
      <div>
        <a href="/#recommended-products">Recommended</a>
        <a href="/#popular-products">Popular 2024</a>
        <a href="/#best-products">The best</a>
      </div>
    </details>
    <div class="path"><%= path %></div>
  </div>
</header>
